[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=6.0.1",
    "django-cors-headers>=4.9.0",
    "django-shinobi>=1.4.0",
    "psycopg>=3.3.2",
    "psycopg-binary>=3.3.2",
]
